apiVersion: v1
kind: Secret
metadata:
  name: slack-secret
  namespace: monitoring
type: Opaque
stringData:
  webhook: https://hooks.slack.com/triggers/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
