apiVersion: v1
kind: Secret
metadata:
  name: slack-secret
  namespace: monitoring
type: Opaque
stringData:
  webhook: https://hooks.slack.com/triggers/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
